<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>登録Email</th>
      <th>登録ユーザ名</th>
      <th>メニュー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.user_name %></td>
        <!-- <td><%= user.salt %></td> -->
        <td><%= link_to 'ユーザー情報確認 |', user %></td>
        <td><%= link_to 'ユーザー情報編集 |', edit_user_path(user) %></td>
        <!-- <td><%= link_to 'ユーザー情報削除（退会）', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Asakatu', asakatus_path %>
