<p id="notice"><%= notice %></p>

<p>
  <strong>登録Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>登録ユーザーネーム:</strong>
  <%= @user.user_name %>
</p>

<!-- <p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
